body {
      font-family: Helvetica, sans-serif;
      background: #b1e31e;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .quiz-container {
      background: #ffeb3b;
      padding: 20px 30px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      width: 400px;
      text-align: center;
    }

    #name-container {
      margin-bottom: 20px;
    }

    input[type="text"] {
      padding: 8px;
      width: 80%;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px;
      margin-bottom: 10px;
    }

    button {
      padding: 10px 20px;
      border: none;
      background: #388e3c;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }

    button:hover {
      background: #2c6e22;
    }

    .question {
      font-size: 25px;
      margin-bottom: 15px;
      color: #000000;
    }

    .option {
      display: block;
      background: #f8f8f8;
      margin: 8px 0;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
    }

    .option:hover {
      background: #ff9800;
    }

    #submit {
      margin-top: 15px;
      padding: 10px 20px;
      border: none;
      background: #388e3c;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }

    #submit:hover {
      background: #2c6e22;
    }

    #result {
      margin-top: 20px;
      font-weight: bold;
      color: #e74c3c;
    }

    #try-again {
      margin-top: 20px;
      padding: 10px 20px;
      border: none;
      background: #f44336;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }

    #try-again:hover {
      background: #d32f2f;
    }

    #countdown {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 15px;
      color: #000;
    }
